node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store

# Native projects (using CNG)
android/
ios/

# Environment variables
.env*
!.env.example

# IDE
.idea/
.vscode/

# Testing
coverage/

# Temporary files
*.log
*.tmp
